:last-child {
  margin-bottom: 0;
}

body,
button,
input,
textarea,
select {
  font-family: $fonts;
}

html {
  font-size: $font-size;
}

body {
  color: $text;
  line-height: 1;

  .lt-ie9 & {
    width: $full;
    margin: auto;
  }
}

p,
blockquote,
figcaption {
  line-height: $line-height;
}

p {
  margin: 0 0 $block-y;
}

table {
  width: 100%;
}

a {
  color: inherit;
}


button,
input,
textarea,
select {
  vertical-align: middle;
}

button,
label[for],
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input,
textarea,
select {
  width: 100%;
}

input,
textarea {
  &::placeholder {
    color: $placeholder;
    text-overflow: ellipsis;
  }
}

textarea {
  resize: vertical;
}

select {
  text-indent: 1px;
  text-overflow: '';
}




//  ----------------------------------------------------------------------
//  =SCAFFOLDING
//  ----------------------------------------------------------------------

.container { max-width: $full; margin: auto; padding: 0 $container-gutter; }




//  ----------------------------------------------------------------------
//  =COMPONENTS
//  ----------------------------------------------------------------------

.btn-full { width: 100%; display: block; text-align: $btn-align; }
.img-full { width: 100%; max-width: none; }


.embed { width: 100%; height: 0; padding: 0 0 aspect-ratio(1080, 720); position: relative; }
.embed > .embed-src { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }


.list-alpha    { list-style: lower-alpha; padding-left: $list-p; }
.list-bulleted { list-style: disc;        padding-left: $list-p; }
.list-numbered { list-style: decimal;     padding-left: $list-p; }
.list-blocks > li,
.list-blocks > dd { margin-bottom: $block-y; }


.form-single { width: 100%; display: table; }
.form-single-input { width: 100%; display: table-cell; }
.form-single-action { width: 1%; display: table-cell; padding: 0 0 0 $form-single-gutter; }




//  ----------------------------------------------------------------------
//  =UTILITIES
//  ----------------------------------------------------------------------

.affix { position: fixed; }

.block { margin-bottom: $block-y; }

.copy { line-height: $line-height; }

.context { position: relative; }


.pull-right { float: right; }
.pull-left  { float: left;  }




//  ----------------------------------------------------------------------
//  =STATES
//  ----------------------------------------------------------------------

.active { cursor: default; }
.disabled,
[disabled],
.disabled *,
[disabled] * { cursor: default !important; pointer-events: none; }




//  ----------------------------------------------------------------------
//  =AT-RULES
//  ----------------------------------------------------------------------

@viewport{
  width: device-width;
  user-zoom: fixed;
  zoom: 1.0;
}