//  ----------------------------------------------------------------------
//  =VARS - DEFAULTS
//  ----------------------------------------------------------------------

//  =PATHS
$img-path:  '/img/'  !default;
$font-path: '/font/' !default;

//  =TYPE
$color: #000 !default;
$fonts: helvetica neue, helvetica, arial, sans-serif !default;
$font-size: 16px !default;

$line-height: 1.35 !default;

$h-font-weight: normal !default;

$placeholder: rgba($color, 0.75) !default;
$btn-align: left !default;


//  =GRID
$cols:             3     !default;
$cols-total:       $cols !default;
$cols-fixed-total: $cols !default;
$cols-copy-total:  $cols !default;


//  =SPACING
$gutter:   20px !default;
$gutter-y: 50px !default;
$block-y:  20px !default;

$container-gutter: $gutter !default;

$list-p: 1.35em !default;

$modal-s: 10px !default;

$form-single-gutter: $gutter / 2 !default;


//  =CONTENT
$content: 980px !default;


//  =ANIMATION
$duration: 150ms !default;
$ease: ease-in-out !default;




//  ----------------------------------------------------------------------
//  =VARS
//  ----------------------------------------------------------------------

//  =VIEWPORTS
$full:       $content + $container-gutter * 2 !default;
$gt-full:    $full + 1                        !default;
$lt-full:    $full - 1                        !default;
$desktop:    960px                            !default;
$tablet:     768px                            !default;
$mobile:     568px                            !default;
$lt-mobile:  $mobile - 1                      !default;
$mobile-med: 480px                            !default;
$mobile-sm:  320px                            !default;
$bps: full $full, lt-full $lt-full, desktop $desktop, tablet $tablet, mobile $mobile, lt-mobile $lt-mobile mobile-med $mobile-med, mobile-sm $mobile-sm !default;


//  =COLORS
$fb:        #3b5998;
$twitter:   #00aced;
$pinterest: #cb2027;
$socials: fb $fb, twitter $twitter, pinterest $pinterest;


//  =WEIGHTS
$thin:  100;
$xlt:   200;
$lt:    300;
$med:   500;
$sbold: 600;
$xbold: 800;
$ultra: 900;




//  ----------------------------------------------------------------------
//  =DISPLAY
//  ----------------------------------------------------------------------

@mixin hidden {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.hidden {
  @include hidden;
}

%hide {
  display: none !important;
}

.hide {
  @extend %hide;
}

.show {
  display: inherit;
}

@each $bp in $bps {
  .hide-show-#{nth($bp, 1)} {
    @extend %hide;

    @media (max-width: nth($bp, 2)) {
      display: inherit !important;

      &.inline {
        display: inline !important;
      }
    }
  }

  .show-hide-#{nth($bp, 1)} {
    @media (max-width: nth($bp, 2)) {
      display: none !important;
    }
  }
}




//  ----------------------------------------------------------------------
//  =SITE
//  ----------------------------------------------------------------------

//@each $font in  {
//  @font-face {
//    font-family: $font;
//    font-weight: normal;
//    src: font-url('#{$font}.eot?') format('embedded-opentype'),
//         font-url('#{$font}.woff') format('woff'),
//         font-url('#{$font}.ttf')  format('truetype');
//  }
//}